html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/** {
  font-family: "Arial", sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: lightgrey;
}

#pageWrapper {
  min-height:100%;
  position:relative;
}

.centerEl {
  margin: auto;
}

.width350 {
  width: 350px;
}
.width750 {
  width: 750px;
}
.width100p {
  width: 100%;
  margin: 0;
  padding: 0;
}

.blackText {
  color: black;
}
.whiteText {
  color: white;
}

.blackBack {
  background-color: black;
}
.whiteBack {
  background-color: white;
}

.centerText {
  text-align: center;
}

.pad25 {
  padding: 25px;
}

.marginTop100 {
  margin-top: 100px;
}

.marginBottom {
  margin-bottom: 180px;
}

.bottom {
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 480px) {
    body {
    }
}*/