* {
  font-family: "Arial", sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

a {
  color: lightgrey;
}

.backWhite {
  background-color: white;
  padding: 25px;
}

.jumbotron {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
  background-color: black;
  max-width: 550px;
}
.container {
  max-width: 850px;
}

.footer {
  padding-top: 25px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  color: white;
  background-color: black;
}

.bgImage {
  background-image: url("../img/bg3.jpg"); 
  background-size: 100% 300px; /*cover contain 100% 100%*/
  /*background-attachment: fixed;*/
  background-position: top center;
  background-repeat: no-repeat;
}